# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
env/
venv/

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log
